{% extends 'base/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block contents %}
        <div class="container">

            <h1>To Do</h1>
            <p>Exclua a Tarefa</p>

            <form action="{% url 'delete' task.id %}" method="POST">
                {% csrf_token %}
                <div class="input-container">
                    <input type="text" id="task-input" value="{{ task.task }}" disabled />
                    <button type="submit" id="delete-task-btn">Excluir</button>
                </div> <!--END input-container -->
            </form>

            <a href="{% url 'list' %}"><button id="back-task-btn">Voltar</button></a>

        </div> <!--END container -->
{% endblock contents %}